.animationicon
{
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
}


@media (max-width:720px)
{
    .descriptionmobile{
        flex-direction: column;
        gap: 80px;
    }
    .descriptionmobile p{
        margin-left: 50px;
    }
}